In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df

         userId  itemId  rating                 date
0        cgexjc  682978       4  2017-08-13 13:23:35
1        cgexjc  320898       4  2019-01-18 15:56:07
2        cgexjc   29028       4  2017-08-13 14:03:55
3        cgexjc  399148       5  2017-08-13 13:59:51
4        cgexjc  734055       4  2019-01-18 15:37:29
...         ...     ...     ...                  ...
8612102  blqyzd  148210       1  2017-08-05 14:15:09
8612103  blqyzd  735535       4  2017-08-05 14:14:35
8612104  blqyzd  124242       3  2017-08-05 14:25:33
8612105  blqyzd  948393       4  2017-08-05 13:25:21
8612106  blqyzd  163356       4  2017-08-05 14:24:57

[8612107 rows x 4 columns]

In [4]:
df.userId.nunique()

54754

In [5]:
df.itemId.nunique()

55093

In [6]:
df.rating.nunique()

5

In [7]:
a=pd.DataFrame(df.groupby(by=['userId','itemId']).rating.unique())
a

              rating
userId itemId
aaamsp 21282     [3]
       60684     [3]
       63085     [3]
       189667    [4]
       206228    [4]
...              ...
zzzvwq 934793    [3]
       960786    [4]
       960894    [4]
       979260    [5]
       981301    [4]

[8612107 rows x 1 columns]